*{
    margin: 0;
    padding: 0;
}

  .d-flex{
      display: flex;
  }

  .f-col{
      flex-direction: column;
      flex-basis: 25%;
  }

  .f-grow{
      flex-grow: 1;
  }

  .h100{
      height: 100%;
  }
  
  .w100{
    width: 100%;
  }

  .sidebar{
      flex-basis: 25%;
      width: 100%;
      height: 100%;
      
  }

.line{
    border-bottom: 1px solid black;
}

.l-line{
    border-left: 1px solid black;
}
 
